.grid {
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "nav"
    "settings";
}

.settings-wrapper {
  margin: 0 auto;
  grid-area: settings;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-wrapper div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
